menu: [
  label: 'Packages'
  submenu: [
    label: 'Rdio'
    submenu: [
      { label: 'Add',                command: 'rdio:add' }
      { label: 'Next',               command: 'rdio:next' }
      { label: 'Open Current Track', command: 'rdio:open-current-track' }
      { label: 'Pause',              command: 'rdio:pause' }
      { label: 'Play',               command: 'rdio:play' }
      { label: 'Play Code Mood',     command: 'rdio:play-code-mood' }
      { label: 'Previous',           command: 'rdio:previous' }
      { label: 'Remove',             command: 'rdio:remove' }
      { label: 'Sync',               command: 'rdio:sync' }
      { label: 'Toggle',             command: 'rdio:toggle' }
      { label: 'Unsync',             command: 'rdio:unsync' }
    ]
  ]
]
